<header>
  <div>WORK HARD,</div>
  <div class="yellow">PLAY HARD</div>
  <div class="blurb">Exploring the diversity of students at UCLA, the Daily Bruin examined the two sides of 10 students: the hardworking, academic side, and the side that pursues an individual passion.</div>
  <div class="blurb">Photographs and captions by Jenna Nicole Smith.</div>
</header>

