<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <base href="https://features.dailybruin.com/2018/work-hard-play-hard/">
  <title>Work Hard, Play Hard | Daily Bruin</title>
  <meta name="description" content="Exploring the diversity of students at UCLA, the Daily Bruin examined the two sides of 10 students: the hardworking, academic side, and the side that pursues an individual passion.">

  <!-- Favicon -->


  <!-- Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Work Hard, Play Hard | Daily Bruin">
  <meta property="og:image" content="img/gallery.whph.Neel.Work.JS10.jpg">
  <meta property="og:description" content="Exploring the diversity of students at UCLA, the Daily Bruin examined the two sides of 10 students: the hardworking, academic side, and the side that pursues an individual passion.">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dailybruin">
  <meta name="twitter:title" content="Work Hard, Play Hard | Daily Bruin">
  <meta name="twitter:description" content="Exploring the diversity of students at UCLA, the Daily Bruin examined the two sides of 10 students: the hardworking, academic side, and the side that pursues an individual passion.Exploring the diversity of students at UCLA, the Daily Bruin examined the two sides of 10 students: the hardworking, academic side, and the side that pursues an individual passion.">
  <meta name="twitter:image" content="img/gallery.whph.Neel.Work.JS10.jpg">


  <!-- Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Overpass:700|Bowlby+One+SC" rel="stylesheet">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54=" crossorigin="anonymous">

  <link rel="stylesheet" href="./css/index.css">

</head>
