footer {
  margin-top:  15px;
  text-align: center;
  color: black;
  padding-bottom: 10px;
  font-family: 'Overpass';

  a {
    text-decoration: none;
    color: black;
  }

}

.footer__daily-bruin-image {
  height: 3rem;
}
