<footer>
  <div class="footer__text">
    <div>Copyright © The Daily Bruin 2018</div>
    <div>
      Built with Suzy’s ❤️ in Kerckhoff 118. Page developed by Michael Zhang.
    </div>
    <div>
      Questions, comments or corrections? Email <a href="mailto:online@dailybruin.com">online@dailybruin.com</a>.
    </div>
  </div>

</footer>
